<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<style>
    body{
     background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
    }    

    .detail{
        text-align:center;
        line-height:14;
        font-size:4em;
    }
</style>
<body>
    <h1 class="detail">Contact No: 100 </h1>
</body>
</html>