<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<style>

    body{
        background-image: linear-gradient(to top, #9795f0 100%, #fbc8d4 100%);
    }
.container1{
  margin:0px;
  height:100%;
  width:100%;

}

.menubar{
    height:50px;
    background-color:darkturquoise;
    position:fixed;
    z-index:1;
}

.content{
   margin-top:300px;
   text-align: center;
   margin-left:650px;
   margin-right:auto;
   position: absolute;
   z-index:1;
}

.signup{
    z-index:3;
    margin-top:200px;
    margin-left:600px;
    margin-right:auto;
    height:auto;
    width:600px; 
    background-color: azure;
    padding:10px;
    position: absolute;
}

#detail{
    padding-left:2px;
    width:570px;
}  
    
    
    
    .data{
       margin-left:auto;
       margin-right:auto;
       width:900px;
       height:600px;
       overflow-y:scroll;
       border-style:groove;
    }
    
    #delete{
       display:none;
    }
      
      
</style>
      
    
<title>Login</title>

</head>
    
    
<body>
      
<div class="container1">    
 <div class="menubar">   
 <div class="btn-group btn-group-lg" role="group" aria-label="Basic example" style="color: aliceblue">
 <button id="1" type="button" class="btn btn-primary" style="margin-left: 5px">Online Notes</button>
 <nav id="2" type="button" class="btn btn-primary" style="float:left" onclick=" window.location.href='http://localhost:3000/welcome'">Home</nav>
 <nav id="3" type="button" class="btn btn-primary" style="float:left"onclick=" window.location.href='http://localhost:3000/help'">Help</nav> 
 <nav id="4" type="button" class="btn btn-primary" style="float:left" onclick=" window.location.href='http://localhost:3000/contact'">Contact</nav>
 <nav id="5" type="button" class="btn btn-primary" style="float:left" onclick="window.location.href='http://localhost:3000/profile'">Profile</nav>
 <nav id="10" type="button" class="btn btn-primary" style="float:right;margin-left:1025px;background-color:#8B0000";position:fixed><%= name %></nav>
 <nav id="6" type="button" class="btn btn-primary" style="float:right"  onclick=" window.location.href='http://localhost:3000/login'">Login</nav>
 <nav id="9" type="button" class="btn btn-primary" style="float:right" onclick="window.location.href='http://localhost:3000/'">Logout</nav>
 </div>
 </div>  
    
 <br/>
 <br/>
 <br/>

  
  <div id="area">
  <form method="post" action="/dashboard" id="sub">
    <label for="exampleFormControlTextarea1">Your textarea</label>
    <textarea style="color:#000000" class="form-control" name="exampleFormControlTextarea1" id="exampleFormControlTextarea1" placeholder="add some text" wrap="soft" autofocus="autofocus" dirname="explanation.dir" required row="1"><%=info%></textarea>
    <button type="submit"id="sub" formaction="/dashboard" name="submit">submit</button>
  </form>
  </div>
     
  </div>
 



    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>     
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript">
   /*  function preback(){
         window.history.forward();
     }
     setTimeout("preback()" , 0);
     window.onunload = function(){
       null;  
     }
     */
   /*     
    $(document).ready(function() {
        function disableBack() { window.history.forward() }

        window.onload = disableBack();
        window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
    });*/
        
   function preventBack() {
   window.history.forward();
   }
   setTimeout("preventBack()", 0);
   window.onunload = function () { null };
    </script>
      
    </body>
    
</html>











