<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      
    <style>
      
        .container1{
            border-radius:10px;
            padding:15px;
            width:1300px;
            height:400px;
            margin:100px auto;
        }  
      
    </style>

  <title>Account Activation</title>
  </head>
  <body>
      
    <div class="container1">
     <p style="font-size:3em">Enter new Password</p>
     <%- include ('partials/success1') %>  
   <!-- <button type="button" class="btn btn-success"><a href="login" style="color:#FFFFFF">Login</a></button>  -->  
     <form method="post" active="/newPassword">
      <label for="newp" name="newp" style="font-family:solid">Enter you new Password:</label>
      <input name="newp" placeholder="Enter password" type="password" style="width:100%">
         
      <label for="newpc" name="newpc" style="font-family:solid">Re enter Password:</label>
      <input name="newpc" placeholder="Enter password" type="password" style="width:100%">
      <br>
      <hr>
      <input  type="submit" class="btn btn-success" style="color:#FFFFFF"  value="Reset Password" />
     </form>

    </div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      
    <script>
  
    </script>
  </body>
</html>